@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #7fffa0;
    color:#0f0f10;
}

body{
    min-height: 100vh;
    background: #0f0f10;
    color: #7fffa0;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -2px;
    background-color: #39FF14;
    color:#0f0f10;
}

label{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

#upload {
    align-self: center;
}
